In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

train = pd.read_csv('./data/train_data.csv')
train = train.iloc[:, 1:]
train

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,Action,time,event
0,0.62,0.03,0.10,0.28,0.43,0.67,0.38,0.12,0.15,0.88,0.72,0.89,0.43,0.36,0.43,0.66,0.16,0,0.47,1
1,0.12,0.87,0.43,0.28,0.02,0.23,0.82,0.14,0.81,0.68,0.53,0.24,0.05,0.01,0.96,0.98,0.34,0,1.39,1
2,0.37,0.06,0.47,0.86,0.86,0.33,0.01,0.90,0.79,0.43,0.64,0.84,0.05,0.56,0.01,0.77,0.62,0,3.61,1
3,0.57,0.39,0.65,0.76,0.83,0.92,0.57,0.60,0.34,0.35,0.44,0.93,0.44,0.65,0.61,0.25,0.96,0,1.02,1
4,0.82,0.00,0.26,0.27,0.82,0.68,0.43,0.92,0.81,0.26,0.66,0.04,0.10,0.93,0.82,0.37,0.09,1,2.07,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,0.50,0.99,0.61,0.88,0.68,0.34,0.96,1.00,0.19,0.80,0.14,0.29,0.41,0.40,0.73,0.76,0.01,1,4.77,1
662,0.62,0.19,0.51,0.30,0.12,0.10,0.41,0.25,0.17,0.17,0.73,0.20,0.18,0.10,0.19,0.39,0.17,1,0.03,1
663,0.84,0.30,0.99,0.55,0.83,0.98,0.17,0.33,0.83,0.45,0.68,0.51,0.57,0.46,0.71,0.29,0.37,0,3.60,1
664,0.94,0.83,0.37,0.69,0.92,0.62,0.39,0.41,0.20,0.74,0.60,0.46,0.21,0.06,0.23,0.93,0.26,0,6.52,1
665,0.08,0.77,0.04,0.54,0.64,0.05,0.13,0.26,0.40,0.31,0.80,0.79,0.69,0.76,0.79,0.54,0.91,0,0.77,1

In [2]:
train = train.drop(np.where(train.time == 0)[0].tolist())
train

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,Action,time,event
0,0.62,0.03,0.10,0.28,0.43,0.67,0.38,0.12,0.15,0.88,0.72,0.89,0.43,0.36,0.43,0.66,0.16,0,0.47,1
1,0.12,0.87,0.43,0.28,0.02,0.23,0.82,0.14,0.81,0.68,0.53,0.24,0.05,0.01,0.96,0.98,0.34,0,1.39,1
2,0.37,0.06,0.47,0.86,0.86,0.33,0.01,0.90,0.79,0.43,0.64,0.84,0.05,0.56,0.01,0.77,0.62,0,3.61,1
3,0.57,0.39,0.65,0.76,0.83,0.92,0.57,0.60,0.34,0.35,0.44,0.93,0.44,0.65,0.61,0.25,0.96,0,1.02,1
4,0.82,0.00,0.26,0.27,0.82,0.68,0.43,0.92,0.81,0.26,0.66,0.04,0.10,0.93,0.82,0.37,0.09,1,2.07,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,0.50,0.99,0.61,0.88,0.68,0.34,0.96,1.00,0.19,0.80,0.14,0.29,0.41,0.40,0.73,0.76,0.01,1,4.77,1
662,0.62,0.19,0.51,0.30,0.12,0.10,0.41,0.25,0.17,0.17,0.73,0.20,0.18,0.10,0.19,0.39,0.17,1,0.03,1
663,0.84,0.30,0.99,0.55,0.83,0.98,0.17,0.33,0.83,0.45,0.68,0.51,0.57,0.46,0.71,0.29,0.37,0,3.60,1
664,0.94,0.83,0.37,0.69,0.92,0.62,0.39,0.41,0.20,0.74,0.60,0.46,0.21,0.06,0.23,0.93,0.26,0,6.52,1
665,0.08,0.77,0.04,0.54,0.64,0.05,0.13,0.26,0.40,0.31,0.80,0.79,0.69,0.76,0.79,0.54,0.91,0,0.77,1

In [3]:
X = train.iloc[:, :17]
y = train.iloc[:, 18]

X_train, X_test, y_train, y_test = train_test_split(X, np.log(y), test_size=0.2)

In [4]:
lr = LinearRegression()
lr.fit(X_train.X0.to_numpy().reshape(-1, 1), y_train)
pred = lr.predict(X_test.X0.to_numpy().reshape(-1, 1))
error = mean_absolute_error(pred, y_test)
print(error)

1.2893651822194272

In [5]:
for i in range(17):
    lr = LinearRegression()
    lr.fit(X_train.iloc[:, i].to_numpy().reshape(-1, 1), y_train)
    pred = lr.predict(X_test.iloc[:, i].to_numpy().reshape(-1, 1))
    error = mean_absolute_error(y_test, pred)
    
    print(f"{str(i)}-{error}")

0-1.2893651822194272
1-1.3094745482654302
2-1.2989904820113356
3-1.2822552432422905
4-1.196199320899955
5-1.3063337690181773
6-1.2575633911971535
7-1.3133504506744211
8-1.29932530973665
9-1.3073471451274488
10-1.2626495895919148
11-1.3426319275772847
12-1.3016159363637125
13-1.1776513057772202
14-1.3098875281850397
15-1.2722761827219662
16-1.3060111864607549

In [6]:
##

lr = LinearRegression()
lr.fit(X_train.apply(sum, axis=1).to_numpy().reshape(-1, 1), y_train)
pred = lr.predict(X_test.apply(sum, axis=1).to_numpy().reshape(-1, 1))
error = mean_absolute_error(pred, y_test)
print(error)

1.3015200107252503

In [16]:
X = train.iloc[:, [0, 2, 3, 4, 6, 7, 9, 10, 13, 14, 15]]
y = train.iloc[:, 18]

X_train, X_test, y_train, y_test = train_test_split(X, np.log(y), test_size=0.2)

lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
error = mean_absolute_error(pred, y_test)
print(error)

0.5450896873390012

In [17]:
X = train.iloc[:, [4, 6, 10, 13, 14]]
y = train.iloc[:, 18]

X_train, X_test, y_train, y_test = train_test_split(X, np.log(y), test_size=0.2)

lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
error = mean_absolute_error(pred, y_test)
print(error)

0.7504686099638213