In [27]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data_path = "./data/"
data_X_path = os.path.join(data_path, 'trainX.csv')
data_y_path = os.path.join(data_path, 'trainY.csv')

X = pd.read_csv(data_X_path)
print(f"X datasets: {X}\n")

y = pd.read_csv(data_y_path)
print(f"y datasets: {y}\n")

X datasets:      Unnamed: 0    X0    X1    X2    X3    X4    X5    X6    X7    X8    X9  \
0             0  0.62  0.03  0.10  0.28  0.43  0.67  0.38  0.12  0.15  0.88
1             1  0.12  0.87  0.43  0.28  0.02  0.23  0.82  0.14  0.81  0.68
2             2  0.37  0.06  0.47  0.86  0.86  0.33  0.01  0.90  0.79  0.43
3             3  0.57  0.39  0.65  0.76  0.83  0.92  0.57  0.60  0.34  0.35
4             4  0.82  0.00  0.26  0.27  0.82  0.68  0.43  0.92  0.81  0.26
..          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
661         661  0.50  0.99  0.61  0.88  0.68  0.34  0.96  1.00  0.19  0.80
662         662  0.62  0.19  0.51  0.30  0.12  0.10  0.41  0.25  0.17  0.17
663         663  0.84  0.30  0.99  0.55  0.83  0.98  0.17  0.33  0.83  0.45
664         664  0.94  0.83  0.37  0.69  0.92  0.62  0.39  0.41  0.20  0.74
665         665  0.08  0.77  0.04  0.54  0.64  0.05  0.13  0.26  0.40  0.31

      X10   X11   X12   X13   X14   X15   X16
0    0.72  0.89  0.43  0.36  0.43  0.66  0.16
1    0.53  0.24  0.05  0.01  0.96  0.98  0.34
2    0.64  0.84  0.05  0.56  0.01  0.77  0.62
3    0.44  0.93  0.44  0.65  0.61  0.25  0.96
4    0.66  0.04  0.10  0.93  0.82  0.37  0.09
..    ...   ...   ...   ...   ...   ...   ...
661  0.14  0.29  0.41  0.40  0.73  0.76  0.01
662  0.73  0.20  0.18  0.10  0.19  0.39  0.17
663  0.68  0.51  0.57  0.46  0.71  0.29  0.37
664  0.60  0.46  0.21  0.06  0.23  0.93  0.26
665  0.80  0.79  0.69  0.76  0.79  0.54  0.91

[666 rows x 18 columns]

y datasets:      Unnamed: 0  time  event
0             0  0.47    1.0
1             1  1.39    1.0
2             2  3.61    1.0
3             3  1.02    1.0
4             4  2.07    1.0
..          ...   ...    ...
661         661  4.77    1.0
662         662  0.03    1.0
663         663  3.60    1.0
664         664  6.52    1.0
665         665  0.77    1.0

[666 rows x 3 columns]

In [22]:
X = X.iloc[:, 1:]
X

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16
0,0.62,0.03,0.10,0.28,0.43,0.67,0.38,0.12,0.15,0.88,0.72,0.89,0.43,0.36,0.43,0.66,0.16
1,0.12,0.87,0.43,0.28,0.02,0.23,0.82,0.14,0.81,0.68,0.53,0.24,0.05,0.01,0.96,0.98,0.34
2,0.37,0.06,0.47,0.86,0.86,0.33,0.01,0.90,0.79,0.43,0.64,0.84,0.05,0.56,0.01,0.77,0.62
3,0.57,0.39,0.65,0.76,0.83,0.92,0.57,0.60,0.34,0.35,0.44,0.93,0.44,0.65,0.61,0.25,0.96
4,0.82,0.00,0.26,0.27,0.82,0.68,0.43,0.92,0.81,0.26,0.66,0.04,0.10,0.93,0.82,0.37,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,0.50,0.99,0.61,0.88,0.68,0.34,0.96,1.00,0.19,0.80,0.14,0.29,0.41,0.40,0.73,0.76,0.01
662,0.62,0.19,0.51,0.30,0.12,0.10,0.41,0.25,0.17,0.17,0.73,0.20,0.18,0.10,0.19,0.39,0.17
663,0.84,0.30,0.99,0.55,0.83,0.98,0.17,0.33,0.83,0.45,0.68,0.51,0.57,0.46,0.71,0.29,0.37
664,0.94,0.83,0.37,0.69,0.92,0.62,0.39,0.41,0.20,0.74,0.60,0.46,0.21,0.06,0.23,0.93,0.26
665,0.08,0.77,0.04,0.54,0.64,0.05,0.13,0.26,0.40,0.31,0.80,0.79,0.69,0.76,0.79,0.54,0.91

In [29]:
# dataset = pd.merge(X, y, how='right')
# dataset = dataset.iloc[:, 1:]
# dataset

y = y.iloc[:, -2]
y

0      0.47
1      1.39
2      3.61
3      1.02
4      2.07
       ...
661    4.77
662    0.03
663    3.60
664    6.52
665    0.77
Name: time, Length: 666, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
from sklearn.svm import SVR

svm = SVR(kernel='rbf', C=1.0)
svm.fit(X_train, y_train)
pred = svm.predict(X_test)

In [38]:
from sklearn.metrics import mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, pred))
RMSE.round(2)

34.67

In [40]:
from sklearn.linear_model import ElasticNet

elastic_net = ElasticNet()
elastic_net.fit(X_train, y_train)
pred = elastic_net.predict(X_test)

RMSE = np.sqrt(mean_squared_error(y_test, pred))
RMSE.round(2)

34.08

In [42]:
from sklearn.linear_model import BayesianRidge

clf = BayesianRidge()
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

RMSE = np.sqrt(mean_squared_error(y_test, pred))
RMSE.round(2)

31.38